header{background-color: blueviolet;
padding-bottom: 5%;}

section2{background-color:brown ;
padding-right: 10%;
padding-bottom: 100%;
float: left;}
.centre{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}