@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*CSS PRINCIPAL*/
/*INITIALISATION DE LA PAGE AVEC 0 MARGES (FIXEES APRES)*/
*{
  margin: 0px;
  padding: 0px;
}

/*POUR LA POLICE UTILISEE*/


html{
    font-family: circular;
    color: #0D0D0D;

}

/*BANNIERE*/

header{
    background-color: blue;
    height: 40px;
    font-size: xx-large;
    text-align: left;
    padding: 10px;
    padding-right: 40px;
}

header a{
  text-decoration: none;
  color: #0D0D0D;
  float: none;
  
}
header span{
    float: right;
    align-self: center;
}

/*CONTENANT PAGE INDEX*/

#main{
    background-color: #F2F2F2;
    font-size: x-large;
    height: auto;
    padding-left: 25%;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 25%;

}
input[type=text] {
    width: 50%;
    
  }
textarea[type=textarea] {
    width: 70%;
    height : 250px
}

.photo{
    text-align: center;
    padding: 50px ;
    margin: 25px 50px;
    background-color: white;
}

#main2{
    background-color: #F2F2F2;
    font-size: x-large;
    height: auto;
    padding-left: 25%;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 6%;
    padding-bottom: 25%;

}
#main2 li{
    list-style-type: none;
    padding-bottom: 10px;
}

#main2 a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
#main2 a:hover{
    color: blue;
    border-bottom: 2px solid;
    border-color: blue;
}

.afflogs{
    text-align: center;
    padding: 50px ;
    height: 500px;
    margin-right: 50px;
    background-color: white;
}

.affusers{
    text-align: left;
    padding: 50px ;
    height: 500px;
    margin-right: 50px;
    background-color: white;
}
.affusers button{
    float: right;
}
.affusers .g{
    background-color: grey;
}
.affusers .b{
    background-color: #f2f2f2;
}

.retour {
    text-decoration: none;
    color: black;
    float: left;
}
.retour:hover{
    color: blue;
    border-bottom: 2px solid;
    border-color: blue;
}
/*BARRE DE NAVIGATION A GAUCHE*/

nav{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #F2F2F2;
    margin: 20px;
    height: 500px;
    width: 20%;
    float: left;
    text-align: center;
    border-right: 1px solid #0D0D0D;
}
nav span{
    text-decoration: underline;
    font-size: 19px;
    font-weight: bold;

}
nav ul{
    list-style-type: none;
    font-size: 19px;
}
nav ul li {
    padding: 35px;
    font-weight: bold;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}
nav a:hover{
    color: blue;
    border-bottom: 2px solid;
    border-color: blue;
}


